<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/settings']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Einstellungen - Cocktails</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openCocktailDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-list role="list">
      <mat-list-item *ngFor="let cocktail of cocktails | async" role="listitem"
        >{{ cocktail.name }}
        <span class="spacer"></span>
        <button mat-icon-button (click)="openCocktailDialog(cocktail)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCocktail(cocktail)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
