<h1>Möchtest du "{{ cocktail.name }}" haben ?</h1>
<mat-dialog-content>
  <mat-slider
    [displayWith]="formatLabel"
    tickInterval="1000"
    step="1"
    min="15"
    max="400"
    aria-label="units"
    [(ngModel)]="totalMl"
    name="totalMl"
    ngDefaultControl
    style="margin-top: 20px; width: 100%"
    ><input matSliderThumb
  /></mat-slider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(true)" cdkFocusInitial>Ja</button
  ><button mat-button (click)="closeDialog(false)" cdkFocusInitial>Nein</button>
</mat-dialog-actions>
