<mat-dialog-content class="mat-typography">
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Zutat auswählen</mat-label>
    <mat-select [(ngModel)]="pump.ingredient">
      <mat-option value=""> Leer </mat-option>
      <mat-option
        *ngFor="let ingredient of ingredients"
        [value]="ingredient.id"
      >
        {{ ingredient.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h5>Durchsatz der Pumpe in einer Sekunde (ml)</h5>
  <mat-slider
    thumbLabel
    tickInterval="1000"
    step="0.1"
    min="0"
    max="3"
    aria-label="units"
    style="width: 100%"
    [(ngModel)]="pump.ml_per_second"
  ></mat-slider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="pump" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
