<mat-dialog-content class="mat-typography">
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Zutat auswählen</mat-label>
    <mat-select [(ngModel)]="pump.ingredient">
      <mat-option value=""> Leer </mat-option>
      <mat-option
        *ngFor="let ingredient of ingredients"
        [value]="ingredient.id"
      >
        {{ ingredient.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h5>Durchsatz der Pumpe in einer Sekunde (ml)</h5>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Durchsatz der Pumpe in einer Sekunde (ml)</mat-label>
    <input matInput type="number" [(ngModel)]="pump.ml_per_second" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="pump" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
